<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'list-type' %}">Courses types</a></li>
                <li><a href="{% url 'list-group' %}">Groups</a></li>
                <li><a href="">Students</a></li>
                <li><a href="">Exams</a></li>
                <li><a href="">Exercises</a></li>
            </ul>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

</body>
</html>